parameters:
	symfony:
	    container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
	doctrine:
	    objectManagerLoader: tools/phpstan/doctrine/object-manager.php
	paths:
	    - src
	level: 8
